<%- include('./partials/header.ejs') %>

<h1 id = 'indexh1'>Cultures</h1>

<% for(let i = 0; i < recipes.length; i++) { %>
    <a id = 'culturesLink' href="/recipes/culturesindex/<%= recipes[i].culture %>"><h2><%= recipes[i].culture %></h2></a>
<% } %>

<%- include('./partials/footer.ejs') %>