<%- include('./partials/header.ejs') %>
  <h1 id="newH1">Create a recipe</h1>

  <form id="newForm" method="POST" action="/recipes">
    <label id ="newLabel" for="name">Name:</label>
    <textarea id="inputBox" type="text" name="name" placeholder="Enter Recipe Name"></textarea>
    <div id="newIngredientId">Ingredient:</div>
    <div id ="dynamicCheck">
      <input type="button" value="Add Ingredient" onclick="createIngredient();"/>
    </div>
    <div id="newDirectionId">Directions:</div>
    <div id ="dynamicCheck">
      <input type="button" value="Add Step" onclick="createDirection();"/>
    </div>
    <label id ="newLabel" for="culture">Culture:</label>
    <textarea id="inputBox" type="text" name="culture" placeholder="What kind of culture is this dish based from?"></textarea>
    <label id ="newLabel" for="img">Image Link:</label>
    <textarea id="inputBox" type="text" name="img" placeholder="Link to img file"></textarea>
    <button id="newButton">Add Recipe</button>
  </form>

  <%- include('./partials/footer.ejs') %>