<%- include('./partials/header.ejs') %>
    <h1>Create a recipe</h1>

    <form method="POST" action="/recipes">
      <fieldset>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter Recipe Name">
      </fieldset>
      <fieldset>
        <label for="ingredients">Ingredients:</label>
        <input id="ingredients" type="text" name="ingredients" placeholder="List ingredients, separated by commas">
      </fieldset>
      <fieldset>
        <label for="directions">Directions:</label>
        <input id="directions" type="text" name="directions" placeholder="List directions, separated by commas">
      </fieldset>
      <fieldset>
        <label for="culture">Culture:</label>
        <input id="culture" type="text" name="culture" placeholder="What kind of culture is this dish based from?">
      </fieldset>
      <fieldset>
        <label for="img">Image Link:</label>
        <input id="img" type="text" name="img" placeholder="Link to img file">
      </fieldset>
      <button>Add Recipe</button>
    </form>

  <%- include('./partials/footer.ejs') %>