<%- include('../partials/header.ejs') %>

<h1 id="newH1">Register A New User</h1>
<form id="signInForm" action="/users/register" method="POST">
    <fieldset id="signInField">
        <label id="signInLabel" for="username">Username:</label>
        <input id="signInInput" type="text" name="username">
    </fieldset>
    <fieldset id="signInField">
        <label id="signInLabel" for="password">Password:</label>
        <input id="signInInput" type="password" name="password">
    </fieldset>
    <input id="newButton" type="submit" value="Sign Up">
</form>

<%- include('../partials/footer.ejs') %>