<%- include('../partials/header.ejs') %>

<h1 id="newH1">Sign In</h1>
<form id="signInForm" action="/users/signin" method="POST">
    <fieldset id="signInField">
        <label id="signInLabel" for="username">Username:</label>
        <input id="signInInput" type="text" name="username">
    </fieldset>
    <fieldset id="signInField">
        <label id="signInLabel" for="password">Password:</label>
        <input id="signInInput" type="password" name="password">
    </fieldset>
    <input id="newButton" type="submit" value="Sign In">
</form>

    <p id="registerText">Don't have an account yet? <button id="registerButton" onclick="window.location.href = '/users/register'">Register</button></p>

<%- include('../partials/footer.ejs') %>