<%- include('./partials/header.ejs') %>

<h1>Sign In</h1>
<form action="/users/signin" method="POST">
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password">
    </fieldset>
    <input type="submit" value="Sign In">
    <p>Don't have an account yet? <button onclick="window.location.href = '/users/register'">Register</button></p>
</form>

<%- include('./partials/footer.ejs') %>